// Website theme/bootstrap
$theme-colors: (
	"primary": #DAD2BC,
	"info" : #DAD2BC,
	"secondary": #252323,
);



// import bootstrap scss
@import '../../node_modules/bootstrap/scss/bootstrap';

// GLOBAL

// font-family: Abril Fatface;
// font-family: Josefin Sans

$black: #252323;
$white: #F5F1ED;
$gray: #EEF0F2;
$beige: #DAD2BC;
$green: #88958D;


h1, h2, h3, h4, h5, h6, a {
	font-family: 'Fjalla One';
}

body{
	font-family: 'Ubuntu Condensed';
}

main {
	background-color: $beige;
	// height: 100vh;
}

footer {
	text-align: center;
	position: fixed;
   	left: 0;
	bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px; 
   	width: 100%;
   	background-color: $white;
	color: $black;

}

.navbar  {
	background-color: #08080875;
	position: absolute;
	z-index: 10;
	width: 100%;

}

.navbar-toggler {
	padding: 0;
}

a.navbar-brand, .navbar-nav .nav-link {
	color: $white;
	padding-left: 15px;
	padding-right: 15px;
}

.dropdown-item:hover, .dropdown-item:focus {
	background-color: #f5f1ed5c;
}

.dropdown-item {
	color: $white;
}

a.nav-link:hover {
	background-color: #f5f1ed5c;
}

// .show {
// 	background-color:#f5f1ed5c;
// }
.dropdown-menu {
	background-color: transparent;
	border: none;
}

a {
	color: $white;
}

.btn:hover {
	-webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
}

textarea.form-control {
	min-width: 100%;
}



// Landing Page
.container-landing {
	width: 100%;
	min-height: 100vh;
	background-color: $beige;
	justify-content: center;
	align-items: center;
}
.container.content-box {
	// display: flex;
 //    justify-content: center;
	// align-items: center;
	position: relative;
	min-height: 80vh;
}
.navbar {
	position: absolute;
	z-index: 10;
}

.fa-bars {
	color: $white;
}
.section-left {
	background-color: $white;
}
.section-right {
	padding: 0;
}
p {
	color: $black;
}
.inner-col {
	border: 1px solid $beige;
	text-align: left;
}
.inner-col2 {
	padding: 0;
}
.inner-col3 {
	padding: 15px;
}
.inner-col4 {
	padding: 0;
}

.row-button {
	margin-top: 15px;
	margin-bottom: 15px;
}
img {
	max-width: 100%;
	min-height: 100%;
	max-height: 100%;
	object-fit: cover;
	padding: 0;
}

// a {
// 	color: $black;
// }
.fab {
	color: $black;
}

.brandtitle {
	color: $black;
}

// about

// .brand-about {
// 	color: $black;
// }

// .bars-about {
// 	color: $black;
// }

.container-cards-about {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding-top: 75px;
	padding-bottom: 65px;
}

.card-group-about {
	padding-top: 15vh;
}


.card-about {
	height: 100%;
}

// Home

// carousel

.carousel-inner img {
	height: 75vh;
	object-fit: cover;

}

.carousel-caption {
	background-color: #0808082a;
	border-radius: 10px;
	padding: 5px;
}

.carousel-text {
	color: $white;
}

// .brand-home {
// 	color: $white;
// }

// .navbar-home {
// 	color: $white;
// }

.btn a {
	color: $black;
}


.card-group-home {
	padding-top: 80px;
	padding-bottom: 80px;
}


footer {
	text-align: center;
	position: fixed;
   	left: 0;
	bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px; 
   	width: 100%;
   	background-color: $white;
	color: $black;

}

.cbody-home {
	display: contents;
}

// Collection
.container-fluid {
	padding: 0;
} 

.collection-container {
	overflow-x: hidden;
	position: fixed;
}

.row-collection {
	height:100vh;
}


// .bars-collection {
// 	color: $black;
// }
#left-section {
	height: 100vh;
	padding: 0;
	// position: fixed;
}

#right-section {
	background-color: $white;
	height: 100vh;
	padding: 0;
	// margin-left: 57.5%;
}
.rightcol-collection {
	padding: 0;
}

// #right-section >.card-body-collection {
// 	padding-left: 2rem;
// 	padding-right: 2rem;
// }

.card-img-top {
	height: 300px;
}

.collectionlist {
	padding-top: 10px;
}

.card-body-collection {
	background-color: $white;
	// border: 1px solid $black;
	padding-left: 2rem;
	padding-right: 2rem;
}

.modal-dialog {
	height: 88vh;
}

.modal-body img {
	min-width: 100%;
}


// contact

// .contact-main {
// 	display: flex;
// }

.container-contact {
	// display: flex;
	justify-content: center;
	align-items: center;
	// margin-top: 17vh;
	// margin-bottom: 15vh;
}

.form-column {
	background-color: $white;
	// padding: 40px;
	border-radius: 20px;
}

.colleft-contact {
	background-color: $white;
	display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 30px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
  }

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 100%;
    width: 100%;
}

.row-contact {
	display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: 100%;
}




@media (min-width: 576px) {

	.navbar-brand {
		margin-left: 2rem;
	}

	.navbar-toggler {
		margin-right: 3rem;
	}
	.container.content-box {
		margin-top: 5vh;
		margin-bottom: 5vh;
	}

	.container-cards-about {
		padding-top: 0;
		padding-bottom: 0;
	}

	#left-section {
		position:fixed;

	}

	#left-section .col-md-7 {
    	flex: 0 0 58.3333333333%;
   		max-width: 60.3333333333%;
   	}

	#right-section {
		margin-left: 57.5%; 
	}


	// #right-section .rightcol-collection >.card {
	// padding-left: 10px;
	// padding-right: 10px;
	// }
}

@media (min-width: 768px) {
	#left-section{
		flex: 0 0 58.3333333333%;
		max-width: 60.3333333333%;
	}

}

@media (min-width: 992px) {
	.modal-dialog {
		height: 90vh;
	}
	
}